<div class="container">
<h1>Редактирование пользователя</h1>

<%= render 'form' %>
<br>
<%= link_to "Назад", user_path(current_user), 
 					        class: "btn btn-primary btn-xs", 
 					        role: "button"  %>
</div>